<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>My Memory Really Sucks</title>
      <%= stylesheet_link_tag :base, "themes/blue/style" %>
   </head>
   <body>
      <div id="container">
         <div id="box">
            <h1>My Memory Really Sucks!</h1>
            <div class="block" id="block-login">
               <h2>Services</h2>
               <div class="content">
                  <% if !account.authorized? %>
                     <a href="<%= box_auth_url %>">Authorize Box.net</a>
                  <% else %>
                     FAIL.
                  <% end %>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
