<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>My Memory Really Sucks</title>

      <link rel="shortcut icon" href="/favicon.ico">
      <link rel="stylesheet" type="text/css" href="/css/style.css?v=1">
   </head>
   <body>
      <div id="box">
         <h1>My memory really sucks!</h1>
         <h2>A phone number to help you remeber things.</h2>

         <p>Hi there. If you're like me, you forget things, a lot. So, to help, I made a phone number you can call that will record your thoughts and save them into your box.net account.</p>
         <p>This is still a work in progress, but hopefully I'll have it working soon.</p>
         <p>&lt;3 Nat</p>
      </div>

      <script src="/javascripts/mootools.js?v=1"></script>
      <script src="/javascripts/mootools-ujs.js?v=1"></script>
      <script src="/javascripts/application.js?v=1"></script>
   </body>
</html>
