<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>My Memory Really Sucks</title>

      <%= stylesheet_link_tag :base, "themes/blue/style" %>
   </head>
   <body>
      <div id="container">
         <div id="box">
            <h1>My Memory Really Sucks!</h1>
            <div class="block" id="about">
               <h2>A phone number to help you remember things.</h2>
               <div class="content">
                  <p>Hi there. If you're like me, you forget things, a lot. So, to help, I made a phone number you can call or text that will record your thoughts and save them into your box.net account.</p>
                  <p>This is still a work in progress, but hopefully I'll have it working soon.</p>
                  <p>&lt;3 Nat</p>
               </div>
            </div>
         </div>

         <div id="box">
            <div class="block">
               <div class="content">
                  <h1><a href="/sessions/new">LOGIN!</a></h1>
               </div>
            </div>
         </div>
         <script src="/javascripts/mootools.js?v=1"></script>
         <script src="/javascripts/mootools-ujs.js?v=1"></script>
         <script src="/javascripts/application.js?v=1"></script>
      </body>
   </html>
